In [63]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [64]:
website_url = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

In [68]:
data = BeautifulSoup(website_url,'lxml')
#print(soup.prettify())

In [62]:
My_table = soup.find_all('table',{'class':'wikitable sortable'})
len(My_table)

1

In [74]:
column = ['Postalcode','Borough','Neighborhood']
city = pd.DataFrame(columns = column_names)
code = data.find('div', class_='mw-parser-output')
table = code.table.tbody
postcode = 0
borough = 0
neighborhood = 0
for tr in table.find_all('tr'):
    i = 0
    for td in tr.find_all('td'):
        if i == 0:
            postcode = td.text
            i = i + 1
        elif i == 1:
            borough = td.text
            i = i + 1
        elif i == 2: 
            neighborhood = td.text.strip('\n').replace(']','')
    city = city.append({'Postalcode': postcode,'Borough': borough,'Neighborhood': neighborhood},ignore_index=True)
city = city[city.Borough!='Not assigned']
city = city[city.Borough!= 0]
city.reset_index(drop = True, inplace = True)
i = 0
for i in range(0,city.shape[0]):
    if city.iloc[i][2] == 'Not assigned':
        city.iloc[i][2] = city.iloc[i][1]
        i = i+1
                                 
df = city.groupby(['Postalcode','Borough'])['Neighborhood'].apply(', '.join).reset_index()
df = df.dropna()
empty = 'Not assigned'
df = df[(df.Postalcode != empty ) & (df.Borough != empty) & (df.Neighborhood != empty)]
df.head(12)

   Postalcode      Borough                                       Neighborhood
0         M1B  Scarborough                                     Rouge, Malvern
1         M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2         M1E  Scarborough                  Guildwood, Morningside, West Hill
3         M1G  Scarborough                                             Woburn
4         M1H  Scarborough                                          Cedarbrae
5         M1J  Scarborough                                Scarborough Village
6         M1K  Scarborough        East Birchmount Park, Ionview, Kennedy Park
7         M1L  Scarborough                    Clairlea, Golden Mile, Oakridge
8         M1M  Scarborough    Cliffcrest, Cliffside, Scarborough Village West
9         M1N  Scarborough                        Birch Cliff, Cliffside West
10        M1P  Scarborough  Dorset Park, Scarborough Town Centre, Wexford ...
11        M1R  Scarborough                                  Maryvale, Wexford

In [75]:
print(df.shape)

(103, 3)